/* 

header {
  background-color: #464950;
  min-height: 5vh;
  min-width: 100px;
} */
body {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

form > label {
  color: aliceblue !important;
}